gemfile:
  - gemfiles/middleman_3.3.gemfile
  - gemfiles/middleman_3.4.gemfile
  - gemfiles/middleman_3_unreleased.gemfile
  - gemfiles/middleman_4.0.gemfile
  - gemfiles/middleman_4.1.2.gemfile
  - gemfiles/middleman_4.1.gemfile
  - gemfiles/middleman_4_unreleased.gemfile
language: ruby
matrix:
  allow_failures:
    - gemfile: gemfiles/middleman_3_unreleased.gemfile
    - gemfile: gemfiles/middleman_4_unreleased.gemfile
rvm:
  - 2.1.8
  - 2.2.4
  - 2.3.0
before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y libgmp3-dev
script: bundle exec rake test
